@model IEnumerable<TaskManager.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Task list</h1>

<p>
    <a asp-action="Create">Add task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Done", "Done", new { id=item.TaskId }) |
                @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }) |
                @Html.ActionLink("Details", "Details", new { id=item.TaskId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TaskId })
            </td>
        </tr>
}
    </tbody>
</table>
